# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Base de datos
*.db
*.sqlite
backend/db_backups/

# Archivos generados
backend/static/qr/*.png

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
